//white = #fff
//black = #000
//active = #123
//x-small = 10px
//small = 14px
//normal = 18px
//large = 22px
//x-large = 36px
//xx-large = 60px
//animation = all .5s ease

//****MIXINs
media(maxWidth)
    @media screen and (max-width: maxWidth)
        {block}
size(width, height)
	width width
	height height