doctype html
html(lang="ru")
head
  meta(charset="UTF-8")
  meta(author="monkeysbrain")
  link(rel="stylesheet", href="css/reset.css")
  link(rel="stylesheet", href="css/template-style.css")
  title 
body
  block content